<html>
<head>

</head>
<body>
  <video style="width:90%;height:90vh;" controls>
    <source src="<%= video.video %>" type="video/mp4">
    <source src="<%= video.video %>" type="video/ogg">
    Your browser does not support HTML5 video.
  </video>
</body>

</html>
