

<!-- sidebar menu -->

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu col-lg-2 col-sm-1 col-xs-3" style="  background: #2A3F54;height:400vh;">
              <div class="" style="padding-top:10px;padding-bottom:10px;">
                            <a href="index.html" class="site_title"><i class="fa fa-user"></i> <span> Fastrack!</span></a>
                          </div>
              <div class="menu_section">
                <h3 style="padding:10px;">التحكم</h3>
                <ul class="nav side-menu">

                  <li active><a href="/universities"><i class="fa fa-user"></i> التحكم ب الجامعات</span></a></li>
                  <li><a href="/add-university"><i class="fa fa-user"></i>اضافه جامعه</span></a></li>

                  <li><a href="/sectors"><i class="fa fa-book"></i>التحكم ب الاقسام</span></a></li>
                  <li><a href="/add-sector"><i class="fa fa-book"></i>اضافه قسم</span></a></li>


                  <li><a href="/subjects"><i class="fa fa-book"></i>التحكم ب المواد</span></a></li>
                  <li><a href="/add-subject"><i class="fa fa-book"></i>اضافه ماده</span></a></li>

                  <li><a href="/books"><i class="fa fa-book"></i> التحكم ب الملازم</span></a></li>
                  <li><a href="/add-books"><i class="fa fa-book"></i> اضافه ملزمه</span></a></li>
                  <li><a href="/midterms"><i class="fa fa-book"></i> التحكم بمجموعات الميدترم</span></a></li>
                  <li><a href="/add-midterm"><i class="fa fa-book"></i>اضافه مجموعه ميدترم</span></a></li>

                  <li><a href="/videos"><i class="fa fa-book"></i>التحكم ب الفيديوهات</span></a></li>
                  <li><a href="/add-video"><i class="fa fa-book"></i>اضافه فيديو</span></a></li>
                  <li><a href="/coupons"><i class="fa fa-book"></i>الكوبونات</span></a></li>
                  <li><a href="/add-coupon"><i class="fa fa-book"></i>اضافه كوبون</span></a></li>

                  <li><a href="/tree"><i class="fa fa-book"></i>شجره المواد</span></a></li>

                  <li><a href="/"><i class="fa fa-sign-out"></i>تسجيل الخروج</span></a>
                  </li>
              </div>

            </div>
            <!-- /sidebar menu -->
